table,
th,
td {
    border: 2px rgb(77, 77, 77) dotted;
    background-color: rgba(112, 112, 112, 0.1);
    color: #fff;
    border-collapse: collapse;
    padding: 7px;
}

table {
    width: 100%;
    margin-top: 15px;
    color: #282828;
    border: 2px white solid;
}

td {
    text-align: center;
}

th {
    text-align: left;
    font-weight: bolder;
}

.scroll {
    overflow-x: auto;
}